// must have - main stylus jeet grid system import + rupture
// uses Autoprefixer synced with CanIUse.com so you don't need to use prefixes

// you can add nib if you want
// @import 'nib'
@import 'jeet'
@import 'rupture'

// custom imports
@import 'mixins.import'
@import 'variables.import'

// media queries using rupture mixins:
    // +above(641px)
    // +above(1025px)
    // +above(1441px)
    // +above(1921px)
    // rupture docs: https://github.com/jenius/rupture
// or standard media queries with em or px
    // @media only screen and (min-width: 40.063em) /* min-width 641px */
    // @media only screen and (min-width: 64.063em) /* min-width 1025px */
    // @media only screen and (min-width: 90.063em) /* min-width 1441px */
    // @media only screen and (min-width: 120.063em) /* min-width 1921px */

// uncomment edit function to see grid borders
// edit()

*
    box-sizing border-box

html, body
    padding 0
    margin 0
    overflow hidden
    position relative
    height 100%
    width 100%

h1, h2, h3, h4, h5 h6
    color color-text

[data-momentum]
    height 100%

.full-screen-button,
.menu-button,
.slideshow-navigation .prev,
.slideshow-navigation .next,
.close-menu-button
    display block
    text-align center
    position fixed
    right 0
    bottom 0
    z-index 1000
    margin rem-calc(25) rem-calc(30)
    padding 0
    border none
    font-size rem-calc(30)
    color color-text
    vertical-align middle
    &:hover
        opacity .6
.menu-button
    top 0
    bottom auto
.menu-wrap-overlay
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 998
    display none
    background rgba(0, 0, 0, .5)
    &.menu-overlay-show
        display block
.slideshow-navigation .prev,
.slideshow-navigation .next
    right auto
    left 0
    top 0
    bottom auto
.slideshow-navigation .next
    left rem-calc(50)
.close-menu-button
    top 0
    left auto
    bottom auto
    right 0
    margin rem-calc(15)

.menu-wrap
    position absolute
    right 0
    z-index 1001
    width rem-calc(260)
    height rem-calc(260)
    background #FDFDF8
    color color-text
    padding rem-calc(32)
    transform translate3d(150%, -150%, 0)
    transition transform 0.3s
    box-shadow 0 0 rem-calc(10) rgba(0, 0, 0, .35)
    .link-list
        position relative
        font-size rem-calc(22)
        padding-top 18%
        .menu-item
            padding rem-calc(5) 0
            font-weight 800
            a
                color color-text
                text-decoration none
                &:hover, &:focus, &:active
                    color lighten(color-text, 10%)
                    text-decoration none
        .fa
            width rem-calc(40)
            text-align center
    &.show-menu
        transform translate3d(0, 0, 0)

.hljs
    padding rem-calc(25)
    font-size rem-calc(18)

.login-form-container
    .login-input,
    .password-input
        border rem-calc(1) solid lighten(color-text, 80%)
        padding rem-calc(15) rem-calc(30)
        outline none
        width 80%
        transition border .3s
        margin-bottom rem-calc(10)
        &:focus
            outline none
            border-left rem-calc(5) solid lighten(color-text, 80%)
    .login-form-button
        border 0
        padding rem-calc(15) rem-calc(30)
        cursor pointer
        background-color #27559d
        transition background-color .3s
        color #fff
        font-weight 900
        margin-top rem-calc(10)
        &:hover
            background-color lighten(#27559d, 10%)