<template name="slideshowView">
    {{#if currentUser}}
        <nav class="slideshow-navigation">
            <a href="#" class="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a href="#" class="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </nav>
    {{/if}}
    {{#momentum plugin='right-to-left2'}}
        {{> Template.dynamic template=template}}
    {{/momentum}}
</template>

<template name="stayTuned">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            {{#if currentUser}}
                <h1>
                    We are ready to start!
                </h1>
            {{else}}
                <h1>
                    Stay Tuned!
                </h1>
                <h2><small>Or login to start live presentation.</small></h2>
            {{/if}}
        </div>
    </div>
</template>